body {
  background-size: cover;
  background: #e1dbcf;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.main {
  margin: 100px auto;
  width: 800px;
  background: #fff;
  border-radius: 7px;
  box-shadow: 0px 1px 5px rgba(0,0,0,.5);
  opacity: .7;
}

.splash {
  position: relative;
  border-radius: 7px 7px 0 0;
  background: url('../bg-image/masjid.jpg');
  background-size: cover;
  height: 400px;
  
}

.timesheet {
    border-radius: 0 0 7px 7px;
  background: #00A8A8;
  display: flex;
  justify-content: center;
}

.times {
    border-left: 1px solid #1a7b78;
    padding: 20px 30px;
    min-width:100px;
    display: inline-block;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
    /* text-align: center; */
}

.times:nth-child(1) {
  border-left: none;
}

.times h2, .times h3 {
  text-align: center;
}

.times h2 {
    margin: auto;
    border-radius: 17px;
    background: #069898;
    color: #fff;
    text-align: center;
    padding: 5px 20px;
    font-weight: normal;
    font-size: 20px;
}

.times h3 {
  color: #fff;
  font-size: 28px;
}
.hide {display:none}

.timenow {
  display: inline-block;
  width: 100%;
  text-align: center;
  vertical-align: middle;
  /* top: 0; */
  bottom: 30%;
  left: 0;
  right: 0;
  /* margin-left: auto; */
  position: absolute;
  font-weight: bold;
  font-size: 40px;
  opacity: .5;
  margin: auto;
}

#btn-location {
  font-size: 18px;
  border-radius: 20px 0 0 20px;
  position: absolute;
  right: 0;
  color: #fff;
  top: 10%;
  padding: 10px 30px;
  cursor: pointer;
}

.icon-location {
  /* background: url(../loc.png); */
  width: 30px;
  height: 30px;
  background-size: cover;
  display: inline-block;
  vertical-align: middle;
  filter: drop-shadow(12px 12px 25px rgba(0,0,0,0.5));
}

h4#city {
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  padding: 0;
  text-shadow: 2px 2px 2px rgba(0,0,0,.5);
}

.maghrib h2{
  padding-left: 0px;
  padding-right: 0px;
}

.btn-setting{
  position: relative;
  /* border: 2px solid red; */
}

.btn-setting i {
  position: absolute;
  right: 10px;
  top: 10px;
  color: white
}

.activeWrapper{
  background: rgb(226, 188, 93) !important
}

.activeText{
  background: rgb(216, 177, 72) !important
}

.active{
  color: white
}

#btn-locate-me:not(.hide) {
  display: block;
  border: none;
  padding: 10px 20px;
  background: #e1c57f;
  font-weight: bold;
  border-radius: 10px;
  color: #7c621b;
  text-align: center;
  margin: 0 auto;
}


.hijr{
  position: absolute;
  top: 20px;
  right: 30px;
}

.hijr span {
  font-size: 18px;
  color: white;
  font-weight: bold;
  text-shadow: 2px 2px 2px rgba(0,0,0,.5);
}